/* styles.module.css */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Verdana, sans-serif;
}

.box {
  border: 1px solid transparent;

}

.button {
  border: 1px solid transparent;
  outline: none;
}

.input {
  width: 100%;

  & .MuiOutlinedInput-root {
    & fieldset {
      border-color: gray; 
    }

    &:hover fieldset {
      border-color: green; 
    }

    &.Mui-focused fieldset {
      border-color: green; 
    }
  }

  & .MuiInputLabel-root {
    color: gray; 
  }

  & .MuiInputLabel-root.Mui-focused {
    color: green; 
  }
}